@font-face {
    font-family: 'icon-up-button';
    src: url('../font/icon-up-button.eot?59483062');
    src: url('../font/icon-up-button.eot?59483062#iefix') format('embedded-opentype'),
         url('../font/icon-up-button.woff2?59483062') format('woff2'),
         url('../font/icon-up-button.woff?59483062') format('woff'),
         url('../font/icon-up-button.ttf?59483062') format('truetype'),
         url('../font/icon-up-button.svg?59483062#icon-up-button') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icon-up-button';
      src: url('../font/icon-up-button.svg?59483062#icon-up-button') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon-up-button";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-right:before { content: '\e802'; } /* '' */
  .icon-left:before { content: '\e803'; } /* '' */
  
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.eot?8072935');
    src: url('../font/icon.eot?8072935#iefix') format('embedded-opentype'),
         url('../font/icon.woff2?8072935') format('woff2'),
         url('../font/icon.woff?8072935') format('woff'),
         url('../font/icon.ttf?8072935') format('truetype'),
         url('../font/icon.svg?8072935#icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icon';
      src: url('../font/icon.svg?8072935#icon') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-facebook:before { content: '\e806'; } /* '' */
  .icon-instagram:before { content: '\f16d'; } /* '' */
 

  @font-face {
    font-family: 'icon2';
    src: url('../font/icon2.eot?10104666');
    src: url('../font/icon2.eot?10104666#iefix') format('embedded-opentype'),
         url('../font/icon2.woff2?10104666') format('woff2'),
         url('../font/icon2.woff?10104666') format('woff'),
         url('../font/icon2.ttf?10104666') format('truetype'),
         url('../font/icon2.svg?10104666#icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icon';
      src: url('../font/icon.svg?10104666#icon') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-youtube:before { content: '\e818'; } /* '' */
  .icon-telegram:before { content: '\e81c'; } /* '' */
  

  @font-face {
    font-family: 'copy';
    src: url('../font/copy.eot?60245925');
    src: url('../font/copy.eot?60245925#iefix') format('embedded-opentype'),
         url('../font/copy.woff2?60245925') format('woff2'),
         url('../font/copy.woff?60245925') format('woff'),
         url('../font/copy.ttf?60245925') format('truetype'),
         url('../font/copy.svg?60245925#copy') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'copy';
      src: url('../font/copy.svg?60245925#copy') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "copy";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-copyright-svgrepo-com:before { content: '\e825'; } /* '' */
  
  @font-face {
    font-family: 'shopping';
    src: url('../font/shopping.eot?71595337');
    src: url('../font/shopping.eot?71595337#iefix') format('embedded-opentype'),
         url('../font/shopping.woff2?71595337') format('woff2'),
         url('../font/shopping.woff?71595337') format('woff'),
         url('../font/shopping.ttf?71595337') format('truetype'),
         url('../font/shopping.svg?71595337#shopping') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'shopping';
      src: url('../font/shopping.svg?71595337#shopping') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "shopping";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-shopping-cart-svgrepo-com:before { content: '\e82d'; } /* '' */
  
  @font-face {
    font-family: 'check';
    src: url('../font/check.eot?84212774');
    src: url('../font/check.eot?84212774#iefix') format('embedded-opentype'),
         url('../font/check.woff2?84212774') format('woff2'),
         url('../font/check.woff?84212774') format('woff'),
         url('../font/check.ttf?84212774') format('truetype'),
         url('../font/check.svg?84212774#check') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'check';
      src: url('../font/check.svg?84212774#check') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "check";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-check:before { content: '\e82e'; } /* '' */

    
  /* text font */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../font/EuclidCircularA-Regular.eot');
  src: local('../font/  EuclidCircularA-Regular'),
      url('../font/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/EuclidCircularA-Regular.woff2') format('woff2'),
      url('../font/EuclidCircularA-Regular.woff') format('woff'),
      url('../font/EuclidCircularA-Regular.ttf') format('truetype'),
      url('../font/EuclidCircularA-Regular.svg#EuclidCircularA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'globe';
  src: url('../font/globe.eot?61372145');
  src: url('../font/globe.eot?61372145#iefix') format('embedded-opentype'),
       url('../font/globe.woff2?61372145') format('woff2'),
       url('../font/globe.woff?61372145') format('woff'),
       url('../font/globe.ttf?61372145') format('truetype'),
       url('../font/globe.svg?61372145#globe') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'globe';
    src: url('../font/globe.svg?61372145#globe') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "globe";
  font-style: normal;
  font-weight: normal;


  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-globe:before {    
  content:'\e832';                                                         } /* '' */

// blog page eye icon
  @font-face {
    font-family: 'eye';
    src: url('../font/eye.eot?63146936');
    src: url('../font/eye.eot?63146936#iefix') format('embedded-opentype'),
         url('../font/eye.woff2?63146936') format('woff2'),
         url('../font/eye.woff?63146936') format('woff'),
         url('../font/eye.ttf?63146936') format('truetype'),
         url('../font/eye.svg?63146936#eye') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'eye';
      src: url('../font/eye.svg?63146936#eye') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "eye";
    font-style: normal;
    font-weight: normal;

  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-icon:before { content: '\e836'; } /* '' */
  
  // lef-right arrow
  @font-face {
    font-family: 'left-right-arrow';
    src: url('../font/left-right-arrow.eot?85513183');
    src: url('../font/left-right-arrow.eot?85513183#iefix') format('embedded-opentype'),
         url('../font/left-right-arrow.woff2?85513183') format('woff2'),
         url('../font/left-right-arrow.woff?85513183') format('woff'),
         url('../font/left-right-arrow.ttf?85513183') format('truetype'),
         url('../font/left-right-arrow.svg?85513183#left-right-arrow') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'left-right-arrow';
      src: url('../font/left-right-arrow.svg?85513183#left-right-arrow') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "left-right-arrow";
    font-style: normal;
    font-weight: normal;
 
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-left:before { content: '\e837'; } /* '' */
  .icon-right:before { content: '\e839'; } /* '' */
  
  