$font-color:#2E3A59;
$icon-color:#8F9BB3;
$font-400:400;
$font-600:600;
$font-16:16px;
$font-14:14px;
$font-34:34px;
$font-20:20px;
$font-24:24px;
$line-h20:20px;
$line-h32:32px;
$line-h40:40px;
$line-h28:28px;
$line-h24:24px;
$font-normal:normal;
$border-8: 8px;
$background-y: #FFD339;
$background-w:#FFFFFF;
$font-color2:#222B45;
$font-colo3:#8F9BB3;
$white:white;
$light-blue: #8F9BB3;
$background-g: #E4E9F2;
$back-c-blue:#222b45;

// blog-pages
$date-color:#8F9BB3;