$font-color:#2E3A59;
$icon-color:#8F9BB3;
$font-400:400;
$font-600:600;
$font-16:16px;
$font-14:14px;
$font-34:34px;
$font-20:20px;
$font-24:24px;
$line-h20:20px;
$line-h32:32px;
$line-h40:40px;
$line-h28:28px;
$line-h24:24px;
$font-normal:normal;
$border-8: 8px;
$background-y: rgb(255, 211, 57);
$background-w:#FFFFFF;
$font-color2:#222B45;
$font-color3:#8F9BB3;
$white:white;
$light-blue: #8F9BB3;
$background-g: #E4E9F2;
$back-c-blue:#222b45;

// blog page
$border-color:#EDF1F7;
// .date, .watch->color
$date-color:#8F9BB3;

// blog-pages
$icon-blue1:#0095FF;
$icon-blue2:#42AAFF;
$icon-green:#00D68F;
$icon-black:#192038;
$date-color:#8F9BB3;
$font-color3:#3366FF;
@mixin font-features {
line-height: $line-h24;
color:$font-color;
font: {
    weight:$font-400;
 }
}
$background-yellow:rgba(255, 252, 71, 0.732);

/* LOGIN PAGE */
